*{padding:0;margin:0}
body{font-family:'微软雅黑';font-family: Arial}
ul,li,dl,dt,dd{list-style-type:none;}
.cf:after{content:'';display:table;clear:both}
.cf{*zoom:1}
a{text-decoration:none;}

/*头部*/
.top-middle{width:1200px;height:129px;margin:0 auto;}
.middle-top{margin:24px 0 10px;}
.middle-top li{height:46px;float:left;}
.middle-top li:nth-child(1){font-size:25px;color:#ff6855;width:248px;letter-spacing:8px;line-height:50px;border-right:1px solid #dcdcdc;}
.middle-top li:nth-child(2){font-size:10px;color:#b8b8b8;width:260px;padding:10px 20px 0;}
.middle-top li:nth-child(3) input{width:310px;height:43px;outline:none;font-size:16px;text-indent:15px;border:1px solid #dcdcdc;border-right:0 none;}
.middle-top li:nth-child(3){float:right;width:357px;position: relative}
.middle-top .img-one img{margin:11px;}
.middle-top .img-one{display:inline-block;width:46px;height:45px;background: #ff5842;line-height:45px;position:absolute;right:0;top:0;cursor:pointer}

.bottom-left li{float:left;margin-right:46px;padding:6px 0;}
.bottom-left li a{color:#828282;letter-spacing:1px;}
.bottom-left li a:hover{color:#ff5842;}

.bottom-right{float:right;}
.bottom-right li{float:left;padding:6px 10px;background:#a1a1a1;margin-left:1px;}
.bottom-right li a{color:#fff;}
.bottom-right li:hover{background:#ff5842}

/*轮播*/
.wei-lun{width:100%;height:482px;background:#f9f9f9;border-top:5px solid #efefef;}
.wei-middle{width:1200px;height:482px;margin:0 auto;position:relative;overflow:hidden;}
.wei-middle .lg-box{width:6000px;position:absolute;}
.wei-middle .lg-top{background:url(../images/dn.jpg) no-repeat 465px 35px;height:482px;width:1200px;float:left;}
.wei-middle .lg-top2{background:url(../images/lgl1.jpg) no-repeat 750px 35px;}
.wei-middle .lg-top3{background:url(../images/lgl2.jpg) no-repeat 750px 75px;}
.wei-middle .lg-top4{background:url(../images/lgl3.png) no-repeat 700px 55px;}
.wei-middle dt{font-size:26px;color:#ff6755;margin:50px 0 20px;letter-spacing:1px;}
.wei-middle .one-one{font-size:18px;color:#8b8b8b;margin-bottom:26px;}
.wei-middle .one-two{font-size:14px;color:#656565;margin-top:20px;line-height:25px;}
.wei-middle a{display:inline-block;width:258px;height:57px;line-height:57px;text-indent:28px;font-size:20px;color:#fff;background:#ff5842 url("../images/jt.jpg") no-repeat 210px 16px;margin-top:90px;}
.wei-middle .dn-tu{position:absolute;top:-19px;left:502px;}


 .left-tu{position:absolute;top:48%;left:10px;cursor:pointer;}

 .right-tu{position:absolute;top:48%;right:10px;cursor:pointer;}


 /*可关闭*/
.gb{width:100%;background:#121212;}
.gb-middle{width:1200px;height:100px;margin:0 auto;color:#fff;}
.gb-middle li:nth-child(1){float:left;margin:25px 25px 25px 0;font-size:22px;letter-spacing:1px;}
.gb-middle li a{display:inline-block;float:right;font-size:30px;color:#383838;width:50px;height:50px;line-height:50px;margin-top:25px;text-align: right;background:url("../images/cuo.png") no-repeat 20px 10px;}
.gb-middle .gb-1{display:inline-block;padding:12px 17px;background:#1f1f1f;cursor:pointer}
.gb-middle .gb-1:hover{background: #2b2b2b }

/*专题*/
.wei-zt{width:100%}
.wei-body{width:1200px;margin:0 auto;}
.wei-body1{width:1200px;border-bottom:1px solid #e6e6e6;padding-bottom:20px;}
.wei-body1 p{font-size:20px;color:#4b4b4b;height:38px;line-height:38px;text-indent:40px;background:url("../images/1.jpg") no-repeat;margin:25px 0;}
.wei-body1 li{float:left;width:381px;height:227px;border-top:6px solid #ff5842;background:#f9f9f9;margin-right:28px;}
.wei-body1 li:nth-child(3){margin-right:0;}
.wei-body1 dt{font-size:18px;color:#4b4b4b;height:45px;line-height:45px;margin:23px 20px;background:url("../images/2.jpg") no-repeat 282px 0}
.wei-body1 .no2{height:50px;line-height:50px;background:url("../images/3.jpg") no-repeat 282px 0}
.wei-body1 .no3{height:50px;line-height:50px;background:url("../images/4.jpg") no-repeat 282px 0}
.wei-body1 .fan{font-size:14px;margin:0 20px;line-height:24px;color:#555555;}
.wei-body1 a{width:150px;color:#20aeff;margin:20px;display:inline-block;background:url("../images/6.jpg") no-repeat 76px 0}

.wei-body2{width:1200px;border-bottom:1px solid #e6e6e6;padding-bottom:20px;overflow: hidden;}

.wei-body2 p{font-size:20px;color:#4b4b4b;height:38px;line-height:38px;text-indent:40px;background:url("../images/7.jpg") no-repeat;margin:25px 0;position:relative;}

.wei-body2 p .xzt{display:inline-block;width:42px; height:42px;}
.wei-body2 p .nei{margin-right:4px;background:#f5f5f5 url("../images/9.png") no-repeat 10px 10px;position:absolute;left:1112px;top:1px;}
.wei-body2 p .nei2{background:#f5f5f5 url("../images/8.png") no-repeat 10px 10px;position:absolute;left:1158px;top:1px;}
.wei-body2 p .nei:hover{background:#eeeeee url("../images/91.png") no-repeat 10px 10px;cursor:pointer}
.wei-body2 p .nei2:hover{background:#eeeeee url("../images/81.png") no-repeat 10px 10px;cursor:pointer}
.wei-body2 li{float:left;width:283px;height:370px;background:#f9f9f9;margin-right:20px;border:1px solid #f8f8f8;}
.wei-body2 .show {width:1200px;height:380px;position:relative;}
#zx {width:4000px;height:380px;position: absolute;left:0;top:0;}


.wei-body2 dt{width:283px;height:267px;background:#fff;text-align:center;font-size:30px;line-height:267px;cursor: pointer;}
.wei-body2 dt img{width:283px;height:267px}
.wei-body2 dd{text-align:center;margin-top:13px;}
.wei-body2 a{font-size:14px;display:inline-block;padding:5px 10px;background:#e6e6e6;color:#565656;}
.wei-body2 a:hover{background:#ff5842;color:#fff;}


.wei-body3{width:1200px;border-bottom:1px solid #e6e6e6;padding-bottom:20px;}
.wei-body3 p .poo2{display:inline-block;font-size:20px;color:#4b4b4b;height:38px;line-height:38px;text-indent:40px;background:url("../images/10.jpg") no-repeat;margin:25px 545px 20px 0;position:relative;}

.wei-body3 .foor-2 li{float:left;width:592px;height:242px;background:#686868 url("../images/35.jpg");margin-right:10px;margin-bottom:10px;border:1px solid #f8f8f8;overflow: hidden}
.wei-body3 .foor-2 li:nth-child(2){margin-right:0;background:#686868 url("../images/36.jpg")}
.wei-body3 .foor-2 li:nth-child(3){background:#686868 url("../images/37.jpg")}
.wei-body3 .foor-2 li:nth-child(4){margin-right:0;background:#686868 url("../images/38.jpg");background-size:594px 244px;}
.wei-body3 .poo a{display:inline-block;height:32px;line-height:32px;border-right:1px solid #e6e6e6;padding:0 20px 0 20px;color:#646464}
.wei-body3 .poo a:hover{color:#ff7666}
.wei-body3 .poo a:nth-child(4){border:0 none;padding-right:0}
.foor-2 dt{font-size:20px;color:#fff;margin-left:18px;line-height:40px;}
.foor-2 .lo1{font-size:13px;color:#fff;margin-left:18px;}
.foor-2 .lo2{font-size:13px;color:#fff;margin:25px 18px;line-height:20px;}
.foor-2 dl{width:593px;height:242px;background:#272727;margin-top:170px;}

.heng .hong{display:inline-block;width:500px;height:20px;background:#ff5842}
.heng .hui{background:#efefef;display:inline-block;width:700px;height:20px;}

.wei-body4{width:1200px;border-bottom:1px solid #e6e6e6;padding-bottom:20px;}
.wei-body4 p{font-size:20px;color:#4b4b4b;height:38px;line-height:38px;text-indent:40px;background:url("../images/12.jpg") no-repeat;margin:25px 0;position:relative;}
.wei-body4 li{float:left;height:172px;}
.wei-body4 li:nth-child(1){width:40px;background:#eeeeee url("../images/xshang.png") no-repeat 8px 75px;cursor:pointer}
.wei-body4 li:nth-child(2){width:1096px;margin:0 9px;overflow:hidden;}
.wei-body4 li:nth-child(3){width:40px;background:#eeeeee url("../images/xxia.png") no-repeat 8px 75px;float:right;cursor:pointer}


.fei dt{width:200px;height:172px;background:#797979;float:left;margin-right:14px;cursor:pointer}
.fei img{width:200px;height:172px;}
.fei .ko1{font-size:18px;color:#424242;padding-top:10px;}
.fei .ko2{font-size:12px;color:#bbbbbb;padding-top:8px;}
.fei .ko3{font-size:12px;color:#000000;padding-top:13px;line-height:20px;}
.fei a{display:inline-block;width:208px;height:50px;line-height:50px;text-align:center;font-size:20px;color:#fff;background:#ff5842;margin-top:16px;}

.fei1 dt{width:200px;height:172px;background:#797979;float:left;margin-right:14px;cursor:pointer}
.fei1 img{width:200px;height:172px;}
.fei1 .ko1{font-size:18px;color:#424242;padding-top:10px;}
.fei1 .ko2{font-size:12px;color:#bbbbbb;padding-top:8px;}
.fei1 .ko3{font-size:12px;color:#000000;padding-top:13px;line-height:20px;}
.fei1 a{display:inline-block;width:208px;height:50px;line-height:50px;text-align:center;font-size:20px;color:#fff;background:#ff5842;margin-top:16px;}

.wei-body5{margin-top:30px;}
.wei-body5 .boo{width:790px;padding-bottom:20px;float:left;}
.wei-body5 .boo p{font-size:20px;color:#4b4b4b;height:38px;line-height:38px;text-indent:40px;background:url("../images/13.jpg") no-repeat;margin:25px 0;position:relative;}
.wei-body5 .bo2 li{float:left;width:230px;background:#f8f8f8;border:1px solid #f2f2f2;height:87px;font-size:12px;padding:10px;line-height:20px;position:relative;margin-bottom:20px;}
.wei-body5 .bo2 li:nth-child(2){margin:0 15px;}
.wei-body5 .bo2 li .sie{display:inline-block;width:0;border-top:12px solid #f8f8f8;border-left:12px solid transparent;border-bottom:12px solid transparent;border-right:12px solid transparent;:background:#f8f8f8;position:absolute;top:107px;left:55px;}
.wei-body5 .boo dt{width:30px;height:30px;background:#686868;float:left;margin-right:8px;}
.wei-body5 .boo img{width:30px;height:30px;}
.wei-body5 .bo1 dl{float:left;width:230px;}
.wei-body5 .bo1 .opp{margin:0 38px 0 37px;}
.wei-body5 .bo1 dt{cursor:pointer;}
.wei-body5 .bo1 dd{font-size:12px;line-height:16px;}

.wei-body5 .boo2{width:390px;height:224px;background:#57bae8;float:right;margin:25px 0;}
.wei-body5 .boo2 li{text-align: center;padding:7px 10px;color:#fff;font-size:16px;line-height:23px;}


/*尾部*/
.bottom {
 background:#222f35;
}
.bottom-a {
 width:1200px;height:210px;margin:0 auto;
}
/*111*/
.bottom-a1 {width:353px;float:left;padding-right:155px;}
.bottom-a1 dt{font-size:25px;color:#fff;padding-left:42px;padding-top:26px;padding-bottom:22px;background:url(../images/01.jpg) no-repeat left center}
.bottom-a1 dd{font-size:13px;color:#82a0ad;line-height:22px;}
/*222*/
.bottom-a2 {width:102px;float:left;padding-left:60px;padding-right:60px;}
.bottom-a2 dt{font-size:25px;color:#fff;padding-top:26px;padding-bottom:22px;}
.bottom-a2 dd{font-size:13px;color:#82a0ad;line-height:22px;}
/*333*/
.bottom-a3 {width:102px;float:left;padding-left:60px;padding-right:60px;}
.bottom-a3 dt{font-size:25px;color:#fff;padding-top:26px;padding-bottom:22px;}
.bottom-a3 dd{font-size:13px;color:#82a0ad;line-height:22px;}
/*444*/
.bottom-a4 {width:102px;float:left;padding-left:60px;}
.bottom-a4 dt{font-size:25px;color:#fff;padding-top:26px;padding-bottom:22px;}
.bottom-a4 dd{font-size:13px;color:#82a0ad;line-height:22px;}
/*//////////////*/
.bottom-b{width:1200px;height:55px;margin:0 auto;text-align:center;line-height:55px;}
.bottom-b p{float:left;font-size:13px;color:#82a0ad;}
.bottom-b ul{float:right;padding-top:7px;padding-bottom:7px;}

.bottom-b ul li{
 width:37px;height:37px;text-align:center;background:#222f35;margin:0 1px ;
 float:left;line-height:37px;
}.bottom-b ul li img{vertical-align: middle}
.bottom-b ul .bottom-b-1 { color:#fff;font-size:2px;}

.bottom-z {
 background:#172125;
}

/*---------------------------------------------------------*/

/*#lun{width:1200px;margin:0 auto;border:1px solid red;}*/
.wei-body2 .zz{width:3000px;}











